<?xml version="1.0"?>
<config>
  <modules>
    <Custom_Searchtermimport>
      <version>0.1.0</version>
    </Custom_Searchtermimport>
  </modules>
  <global>
    <helpers>
      <searchtermimport>
        <class>Custom_Searchtermimport_Helper</class>
      </searchtermimport>
    </helpers>
	<blocks>
	  <searchtermimport>
		<class>Custom_Searchtermimport_Block</class>
	  </searchtermimport>
	</blocks>
	<models>
	  <searchtermimport>
		<class>Custom_Searchtermimport_Model</class>
		<resourceModel>searchtermimport_mysql4</resourceModel>
	  </searchtermimport>
	  <searchtermimport_mysql4>
		<class>Custom_Searchtermimport_Model_Mysql4</class>
		<entities>		  
			  <searchtermimport>
				<table>import</table>
			  </searchtermimport>
		</entities>
	  </searchtermimport_mysql4>
	</models>
	<resources>
	  <searchtermimport_setup>
		<setup>
		  <module>Custom_Searchtermimport</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </searchtermimport_setup>
	  <searchtermimport_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </searchtermimport_write>
	  <searchtermimport_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </searchtermimport_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <searchtermimport>
	    <use>admin</use>
		<args>
		  <module>Custom_Searchtermimport</module>
		  <frontName>admin_searchtermimport</frontName>
		</args>
	  </searchtermimport>
	</routers>
  </admin>
  
</config> 